<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Be Prepared - Nairobi Flood Alerts</title>
    <link rel="stylesheet" href="Contacts.css">
</head>
<body>
    <div class="container">
    <section class="contact-us">
      <h2>Contact Us</h2>
      <div class="contact-info">
        <div class="email">
          <i class="fas fa-envelope"></i>
          <a href="mailto:info@nairobifalerts.com">info@nairobifalerts.com</a>
        </div>
        <div class="phone-numbers">
          <i class="fas fa-phone"></i>
          <div>
            <a href="tel:+254746650545">+254 746 650 545</a>
            <a href="tel:+254702287453">+254 702 287 453</a>
          </div>
        </div>
      </div>
    </section>
    <script src="Contacts.js"></script>
</body>
</html>
