<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nairobi Flood Alerts - Sidebar</title>
    <link rel="stylesheet" href="homepage.css">
</head>
<body>
    <div class="sidebar">
        <div class="section home">
            <h2>Home</h2>
            <p>Welcome to Nairobi Flood Alerts, a platform dedicated to keeping you informed and prepared for potential flood events in the city.</p>
            <p>We understand the devastating impact that floods can have on communities, and our mission is to provide timely alerts and valuable resources to help you stay safe.</p>
            <p>Nairobi is currently under a <span id="Safe">Safe</span> flood alert level.</p>
            <p>Explore our website to access up-to-date information on:</p>
            <ul>
                <li><strong>Flood Alerts:</strong> Stay informed about the current flood situation and potential risks.</li>
                <li><strong>Regions:</strong> Learn about flood-prone areas and the specific estates that may be affected.</li>
                <li><strong>Rivers:</strong> Stay informed about water levels of the rivers within Nairobi and sewer systems that can cause floods.</li>
                <li><strong>Weather Today:</strong> Have real-time information about weather patterns.</li>
                <li><strong>Be Prepared:</strong> Find essential tips and guidance on flood preparedness and safety measures.</li>
                <li><strong>FAQs:</strong> Get answers to common questions related to floods in Nairobi.</li>
            </ul>
            <p>Stay vigilant, stay informed, and stay safe with Nairobi Flood Alerts.</p>
        </div>
    </div>

    <script src="Home.js"></script>
</body>
</html>

